@import "~style/vars"
.personal-content
    margin-top: 30px;
    margin-bottom: 70px;
    height: 786px;
.personal-left-box
    width: 260px;
    height: 100%;
    margin-right: 30px;
    .personal-info
        background-color: $box-bg;
        overflow: hidden;
        height: 201px;
        .personal-name
            text-align: center;
            width: 130px;
            margin: 0 auto;
            color: #333333;
            font-size: 14px;
        .personal-status
            text-align: center;
            line-height: 60px;
    .personal-avatar-box
        width: 80px;
        height: 80px;
        margin:  30px auto 10px auto;
        border-radius: 50%;
        overflow hidden;
        .personal-avatar
            width: 100%;
            height 100%;
    .personal-nav
        margin-top: 30px;
        background-color: $box-bg;
        height: 555px;
        .personal-nav-item
            text-align: center;
            font-size: 17px;
            line-height: 60px;
            height: 60px;
            border-left: 2px solid #fff;
            border-bottom: 1px solid #f1f1f1;
            display: block;
            color: #333;
            &:hover,&.on
                border-left-color: $theme-color;
                color: $theme-color;

.personal-right-box
    width: 910px;
    height :100%;
    padding: 0 30px;
    background-color: $box-bg;